*, *::before, *::after {
    content: '';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: linear-gradient(90deg, rgba(58,60,180,1) 0%, rgba(29,217,253,1) 50%, rgba(109,252,69,1) 100%);
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 2px solid #fff;
    border-radius: 1px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li {
    margin-top: 1em;
    margin-left: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: left;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid white;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 35px;
}

button {
    margin-left: .5em;
    padding: 5px;
    width: 200px;
    height: 3em;
    color: black;
    font-weight: bold;
    background: linear-gradient(-90deg, rgba(58,60,180,1) 0%, rgba(29,217,253,1) 50%, rgba(109,252,69,1) 100%);
    border: none;
    border-radius: 20px;
}



